BasedOnStyle: Google
ColumnLimit: 160
IndentWidth: 4
AccessModifierOffset: -4
BreakBeforeBraces: Allman
SortIncludes: true
AllowShortFunctionsOnASingleLine: Empty
DerivePointerAlignment: false
PointerAlignment: Left
